<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MEJICO MD Spa Clinic</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="img/favicon.ico" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <div class="container-fluid sticky-top p-0">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <h3 class="text-white">
            <i class="fas fa-spa"></i> MEJICO MD Medical Spa
          </h3>
        </a>
        <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/product" class="nav-item nav-link">Products</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Menus</a>
              <div class="dropdown-menu bg-light mt-2">
                <a href="/feature" class="dropdown-item">Features</a>
                <a href="/howtouse" class="dropdown-item">How To Use</a>
                <a href="/testimonial" class="dropdown-item">Testimonial</a>
                <a href="/blog" class="dropdown-item active">Blog Articles</a>
              </div>
            </div>
            <a href="/contact" class="nav-item nav-link">Contact</a>
          </div>
          <% if (user) { %>
          <span class="navbar-text text-white me-3">Welcome, <%= user.username %>!</span>
          <a href="/logout" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Logout</a>
          <% } else { %>
          <a href="/register" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Register</a>
          <a href="/login" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Login</a>
          <% } %>
        </div>
      </div>
    </nav>
  </div>

  <div class="container-fluid bg-primary hero-header mb-5">
    <div class="container text-center">
      <h1 class="display-4 text-white mb-3">Blog Articles</h1>
    </div>
  </div>

  <div class="container-fluid py-5">
    <div class="container">
      <div class="mx-auto text-center" style="max-width: 600px;">
        <h1 class="text-primary mb-3"><span class="fw-light text-dark">Latest</span> From Our Blog</h1>
        <p class="mb-5">Discover tips and insights on self-care, wellness, and rejuvenation with our expert articles from the world of medical spa treatments.</p>
      </div>
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">

          <div class="blog-item border h-100 p-4">
            <img class="img-fluid mb-4" src="img/blog1.jpg" alt="">
            <a href="blog1" class="h5 lh-base d-inline-block">5 Benefits of Regular Facial Treatments</a>
            <p class="mb-4">Explore how regular facial treatments can improve your skin’s health and give you a youthful glow.</p>
            <a href="blog1" class="btn btn-outline-primary px-3">Read More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item border h-100 p-4">
            <img class="img-fluid mb-4" src="img/blog2.jpg" alt="">
            <a href="blog2" class="h5 lh-base d-inline-block">The Natural Remedies for Glowing Skin</a>
            <p class="mb-4">Learn about natural ingredients that can help brighten your complexion and boost your skin’s radiance.</p>
            <a href="blog2" class="btn btn-outline-primary px-3">Read More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item border h-100 p-4">
            <img class="img-fluid mb-4" src="img/blog3.jpg" alt="">
            <a href="blog3" class="h5 lh-base d-inline-block">The Ultimate Guide to Body Detox Treatments</a>
            <p class="mb-4">Discover how body detox treatments can help cleanse your system and leave you feeling rejuvenated.</p>
            <a href="blog3" class="btn btn-outline-primary px-3">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-white footer">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-md-6">
          <a href="/" class="d-inline-block mb-3">
            <h1 class="text-primary">MEJICO MD Medical Spa</h1>
          </a>
          <p class="mb-0"> Blending medical innovation with spa luxury, our team is dedicated to helping you look and feel your best. Experience the perfect balance of health and beauty. </p>
        </div>
        <div class="col-md-6">
          <h5 class="mb-4">Get In Touch</h5>
          <p><i class="fa fa-map-marker-alt me-3"></i>San Vicente West, Calapan City</p>
          <p><i class="fa fa-phone-alt me-3"></i>0933 869 7119</p>
          <p><i class="fa fa-envelope me-3"></i>mejicomdmedicalspa@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a class="border-bottom" href="#">MEJICO MD</a>, All Right Reserved.

            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a href="">Home</a>
              <a href="">Cookies</a>
              <a href="">Help</a>
              <a href="">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>