<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MEJICO MD Medical Spa</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="img/favicon.ico" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid sticky-top p-0">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <h3 class="text-white">
                        <i class="fas fa-spa"></i> MEJICO MD Medical Spa
                    </h3>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/product" class="nav-item nav-link">Products</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Menus</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="/feature" class="dropdown-item  active">Features</a>
                                <a href="/howtouse" class="dropdown-item">How To Use</a>
                                <a href="/testimonial" class="dropdown-item">Testimonial</a>
                                <a href="/blog" class="dropdown-item">Blog Articles</a>
                            </div>
                        </div>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <span class="navbar-text text-dark me-3">Welcome, <%= user.username %>!</span>
                    <a href="/product" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Shop Now</a>
                </div>
            </div>
        </nav>
    </div>      

    <div class="container-fluid bg-primary hero-header mb-5">
        <div class="container text-center">
            <h1 class="display-4 text-white">Features</h1>
        </div>
    </div>

    <div class="container-fluid py-5">
      <div class="container">
          <div class="row g-4">
              <div class="col-lg-4">
                  <div class="feature-item position-relative bg-primary text-center p-2">
                      <div class="border py-5 px-3">
                          <i class="fa fa-leaf fa-3x text-dark mb-3"></i>
                          <h5 class="text-white mb-0">100% Natural</h5>
                          <p class="text-white mt-3">Enjoy treatments made with the finest organic ingredients, free from harmful chemicals.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item position-relative bg-primary text-center p-2">
                      <div class="border py-5 px-3">
                          <i class="fa fa-tint-slash fa-3x text-dark mb-4"></i>
                          <h5 class="text-white mb-0">Anti Hair Fall</h5>
                          <p class="text-white mt-3">Strengthen your hair roots and reduce hair fall with our specially formulated treatments.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item position-relative bg-primary text-center p-2">
                      <div class="border py-5 px-3">
                          <i class="fa fa-times fa-3x text-dark mb-4"></i>
                          <h5 class="text-white mb-0">Hypoallergenic</h5>
                          <p class="text-white mt-3">Enjoy gentle, dermatologist-tested products that are safe for sensitive skin.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item position-relative bg-primary text-center p-2">
                      <div class="border py-5 px-3">
                          <i class="fa fa-clock fa-3x text-dark mb-4"></i>
                          <h5 class="text-white mb-0">Anti-Aging</h5>
                          <p class="text-white mt-3">Combat fine lines and wrinkles with our advanced anti-aging solutions.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item position-relative bg-primary text-center p-2">
                      <div class="border py-5 px-3">
                          <i class="fa fa-tint fa-3x text-dark mb-4"></i> 
                          <h5 class="text-white mb-0">Hydrating</h5>
                          <p class="text-white mt-3">Deeply moisturize and revitalize your skin with our hydrating treatments.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item position-relative bg-primary text-center p-2">
                      <div class="border py-5 px-3">
                          <i class="fa fa-sun fa-3x text-dark mb-4"></i> 
                          <h5 class="text-white mb-0">Brightening</h5>
                          <p class="text-white mt-3">Achieve a radiant complexion with our brightening facials and products.</p>
                      </div>
                  </div>
              </div>                
          </div>
      </div>
  </div>

    <div class="container-fluid bg-white footer">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6">
                    <a href="/" class="d-inline-block mb-3">
                        <h1 class="text-primary">MEJICO MD Medical Spa</h1>
                    </a>
                    <p class="mb-0"> Blending medical innovation with spa luxury, our team is dedicated to helping you look and feel your best. Experience the perfect balance of health and beauty. </p>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>San Vicente West, Calapan City</p>
                    <p><i class="fa fa-phone-alt me-3"></i>0933 869 7119</p>
                    <p><i class="fa fa-envelope me-3"></i>mejicomdmedicalspa@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">MEJICO MD</a>, All Right Reserved.

                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="/js/main.js"></script>
</body>

</html>